.character-container
{
    margin:100px;
}

.character-container img
{
    float:left;
    margin-right:20px;
}

.character-container .name
{
    font-size:48px;
    font-weight: bold;
}

.character-container .gender
{
    font-size:18px;
    font-weight: bold;
}

.character-container .status
{
    font-size:18px;
    font-weight: bold;
}
.character-container .species
{
    font-size:18px;
    font-weight: bold;
}