.top-menu{
    height: 50px;
    background-color:#000;
}

.top-menu .menu-item{
    font-size: 16px;
    padding: 0px 20px;
    border-right: solid 1px #fff;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
}